.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.vantagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    background-color: #ffa500;
    margin: 80px 0;
    padding: 60px;
}

.vantagens h3 {
    font-size: 2.2rem;
    color: #111;
    margin-bottom: 20px;
}

.vantagens ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 10px;
}

.vantagens li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 80px;
    font-weight: 500;
}

.cliente {
    margin-top: 40px;
    width: 150px;
    min-height: 150px;
    border-radius: 50%;
}

@media (max-width: 1100px) {
    .vantagens {
        padding: 40px;
    }

    .vantagens h3 {
        font-size: 1.8rem;
    }

    .vantagens ul {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .cliente {
        margin-top: 0px;
        width: 120px;
        min-height: 120px;
    }
}

@media (max-width: 800px) {
    .vantagens {
        padding: 10px;
        justify-content: center;
    }

    .vantagens h3 {
        font-size: 1.5rem;
    }

    .vantagens ul {
        gap: 10px;
    }

    .cliente {
        width: 100px;
        min-height: 100px;
    }
}

@media (max-width: 600px) {
    .vantagens {
        padding: 5px;
    }

    .vantagens h3 {
        font-size: 1.2rem;
    }

    .cliente {
        width: 80px;
        min-height: 80px;
    }
}

@media (max-width: 475px) {
    .vantagens {
        text-align: center;
        height: 100%;
        padding: 20px;
    }

    .vantagens ul {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }

    .desc {
        font-size: 0.9rem;
        text-align: center;
        word-wrap: break-word;
        max-width: 15ch;
        height: 70px;
        padding: 20px;
    }


    .cliente {
        width: 60px;
        min-height: 60px;
    }
}