.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    height: 80px;
    width: 100%;
}

.logo {
    height: auto;
    max-width: 75px;
}

.navbar {
    display: flex;
    padding: 20px 40px;
    gap: 40px;
    font-size: 1.1rem;
}

.navlinks {
    position: relative;
    color: #281a01;
}

.navlinks::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    border-bottom: 2px solid #281a01;
    transition: width 0.6s ease;
}

.navlinks:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
}

@media (max-width: 960px) {
    .header {
        padding: 0 40px;
    }

    .navbar {
        padding: 20px;
        gap: 20px;
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .header {
        padding: 0 30px;
    }

    .navbar {
        position: absolute;
        top: 65px;
        right: 0;
        background-color: #f0f0f0;
        padding: 20px;
        flex-direction: column;
        display: none;
    }

    .active {
        display: flex;
        width: 100%;
        align-items: center;
        color: #fff;
        z-index: 7;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 35px;
        height: 3px;
        margin: 5px 0;
        background-color: #281a01;
        transition: all 0.3s ease;
        border-radius: 30%;
    }

    .barOpen:nth-child(2) {
        opacity: 0;
    }

    .barOpen:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .barOpen:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}